/*
    This css contains template that all pages can be used, not only
    for homepage only. Side bar, topbar, fonts etc. can be used accross
    all the pages.
*/
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    line-height: 1.6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background: linear-gradient(to top, #cc99ff 0%, #99ccff 78%); */
    background: #edf0f2;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#topbar {
    margin-bottom: 40px;
    /* border: 3px solid yellow; */
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    font-size: 38px;
    /* background: linear-gradient(to bottom, #cc99ff 0%, #99ccff 78%); */
    background: #2980B9;
    color:#fcfcfc;
}

#leftbar {
    height: 100%;
    width: 15%;
    margin-top: 100px;
    /* margin-left: 2%; */
    position: fixed;
    z-index: 1;
    top: 0;
    /* border: 3px solid black; */
    background: #343131;
    color:#d9d9d9;
}

#leftbar a, a:visited{
    display: block;
    padding-bottom: 4.5%;
    padding-top: 4.5%;
    padding-left: 15%;
    text-decoration: none;
    color: #d9d9d9;
    font-size: 20px;
}

#leftbar a:hover {
    background: rgb(173, 173, 173);
    color: black;
}

#content {
    margin: auto;
    margin-top: 10%;
    width: 60%;
    /* border: 3px solid green; */
    padding: 10px;
    font-size: 19px;
}


#description {
    /* border: 3px solid red; */
    margin-bottom: 30px;
}

#prerequisite {
    /* border: 3px solid palegreen; */
    padding: 10px;
}

#prerequisite a{
    color: black;
}

#footer {
    width: 100%;
    /* border: 3px solid red; */
    text-align: center;
    background: #2980B9;
    color: #fcfcfc;
    font-size: 13px;
    position: relative;
}

#linktograde {
    font-size: 18px;
    margin-bottom: 15px;
}

.linkcs {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    margin: auto;
    font-size: 25px;
}

#footer a,a:visited {
    color: #07C;
    background-color: rgb(199, 224, 241);
    text-decoration: none;
}

#footer a:hover {
    color:rgb(91, 183, 245);
}